{
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
	},
	"rules": {
		"brace-style": ["warn", "1tbs"],
		"no-alert": "warn",
		"complexity": "warn",
		"no-magic-numbers": ["warn","ignoreArrayIndexes": true],
		"no-eq-null": "warn",
		"no-useless-catch": "warn",
		"no-multi-spaces": "warn",
		"require-atomic-updates": "warn",
		"no-extra-semi": "warn",
		"max-classes-per-file": [ "warn", 1 ],
		"max-depth": [ "warn", 4 ],
		"max-len": [ 0, 100, 2,
			{
				"ignoreUrls": true,
				"ignoreComments": false,
				"ignoreRegExpLiterals": true,
				"ignoreStrings": true,
				"ignoreTemplateLiterals": true
			}
		],
		"max-lines": [ "warn",
			{
				"max": 300,
				"skipBlankLines": true,
				"skipComments": true
			}
		],
		"max-lines-per-function": [ "warn",
			{
				"max": 50,
				"skipBlankLines": true,
				"skipComments": true,
				"IIFEs": true
			}
		],
		"max-nested-callbacks": "off",
		"max-params": [ "warn", 3 ],
		"max-statements": [ "warn", 10 ],
		"max-statements-per-line": [ "warn", { "max": 1 } ],
		"multiline-comment-style": [ "warn", "starred-block" ],
		"no-param-reassign": [1, { 
			"props": true,
			"ignorePropertyModificationsFor": []
		}],
    "func-names": "warn",
		"no-unused-vars": "warn"
	},
	"settings": {
		"react": {
			"pragma": "React",
			"version": "15.6.1"
		}
	}
}
