.item {
    width: 300px;
		border-radius: 20px;
    border:  3px solid gray;
    padding: 0 10px 14px 10px;
    margin: 20px 40px;
}

.btn-comprar {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
		justify-content: space-between;
}

.carrinho {
	margin-right: 20px;
    height: 30px;
    width: 40px;
}

.image-product {
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

.image-product img {
    height: 80%;
    width: 70%;
}

.product-info {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    font-size: 26px;
    margin-bottom: 10px;
}

.product-name {
	display:flex;
	justify-content:center;
}

.product-price {
	display:flex;
	justify-content:center;
}

.product-description {
	display:flex;
	justify-content:center;
	font-size: 15px;
	color: gray
}

